:root {
  --primary-red: #9c0235;
  --primary-red--dark: #86002d;
  --primary-yellow: #f3f367;
  --primary-purple: #772ce6;
  --primary-black-light: #33312c;
  --red-accent: #71250b;
  --shadow-heavy: 0 2px 8px rgba(0, 0, 0, 0.33);
  --shadow-heavy-red: 0 2px 8px #9c0235;
  --shadow-heavy-purple: 0 2px 8px #772ce6;
  --shadow-medium: 0 2px 4px rgba(0, 0, 0, 0.22);
}

* {
  box-sizing: border-box;
  font-family: Menlo, Monaco, 'Droid Sans Mono', Consolas, 'Lucida Console',
    'Courier New', monospace;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border-top: 2px solid var(--primary-yellow);
}

::selection {
  background: #a29ae5;
}

.v-application {
  background: black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

>>>.v-input__slot {
  margin-bottom: 0;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 40px;
}
p {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}
@media screen and (prefers-reduced-motion: reduce) {
a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  transition: none;
}
}
a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  transition: border-bottom 0.2s;
}
a:hover, a:focus {
  text-decoration: none;
}
i:hover, i:focus {
  cursor: pointer;
}
.material-icons {
  user-select: none;
  font-size: 1.2em;
}
span, p {
  color: #ccc;
}
.VueCarousel-navigation-button {
  box-shadow: var(--shadow-medium);
  background-color: black !important;
  border-radius: 2px;
  color: #ccc !important;
}

.VueCarousel-slide {
  width: 20%;
  padding: 1%;
}
.light::-webkit-scrollbar {
  width: 15px;
}

.light::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

.light::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.light::-webkit-scrollbar-thumb:hover {
  background: black;
}

.dark::-webkit-scrollbar {
  width: 15px;
}

.dark::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}

.dark::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 7px;
}

.dark::-webkit-scrollbar-thumb:hover {
  background: white;
}
