:root {
  --primary-red: #9c0235;
  --primary-red--dark: #86002d;
  --primary-yellow: #f3f367;
  --primary-purple: #772ce6;
  --primary-black-light: #33312c;
  --red-accent: #71250b;
  --shadow-heavy: 0 2px 8px rgba(0, 0, 0, 0.33);
}

* {
  margin: 0;
  font-family: Menlo, Monaco, 'Droid Sans Mono', Consolas, 'Lucida Console',
    'Courier New', monospace;
}

html {
  background-color: #f6f6f6;
}

::selection {
  background: #a29ae5;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 40px;
}
p {
  font-size: 20px;
  font-weight: 200;
}
@media screen and (prefers-reduced-motion: reduce) {
a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  transition: none;
}
}
a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  transition: border-bottom 0.2s;
}
a:hover, a:focus {
  text-decoration: none;
}
i:hover, i:focus {
  cursor: pointer;
}
.neptune-button__strong {
  background-color: var(--primary-black--light);
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow-heavy);
}
.neptune-button__strong:hover, .neptune-button__strong:focus {
  cursor: pointer;
  background-color: black;
  color: var(--primary-purple);
}
.modal {
  z-index: 100000;
}
